html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; min-width: 740px;}
body {
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.3em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }

img { border: 0; max-width: 100%; }

h1 {
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

table { border-collapse: collapse; border-spacing: 0; }

/** page structure **/
#wrapper {
  display: block;
  max-width: 1250px;
  min-width: 320px;
  background: #fff;
  margin: 0 auto;
  padding: 0px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  font-size: 0.8em;
  margin: 0 auto;
  margin-bottom: 15px;
}

#keywords thead {
  cursor: pointer;
  background: #5bb7ff;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}

#keywords tbody tr {
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}

/*****************************************************************************/

thead {
	white-space: nowrap;
}

p {
	margin: 10px 0px 10px 0px;
}

.icon_detail {
	width: 15%;
}

.icon_pdf_download {
	width: 5%;
}

.icon_point_hand {
	width: 5%;
	position: relative;
	top: 3px;
}

#detail {
	border-spacing: 10px;
	border-collapse: separate;
}

#detail td:first-child {
	font-weight: bold;
	white-space: nowrap;
}

#keywords tr:hover {
 	background-color: silver;
}

#footer {
	margin-top: 30px;
	background-color: #0094ff;
	padding: 15px;
	margin: 0px -17px;
}

#footer img {
	filter: invert(100%);
}

#footer a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#header {
	margin: 0px -17px 19px -17px;
	padding: 19px;
	min-height: 36px;
	border-bottom: 1px solid black;
	background: #0094ff;
}
h2 {
	position: relative;
	bottom: 95px;
	left: 110px;
	color: #f9efef;
	font-size: 1.5em;
}
#menu-wrapper {
	float: right;
    font-size: 1.5em;
	position: relative;
	top: 80px;
}
@media (max-width: 700px) {
    #menu-wrapper {
        font-size: 1.2em;
    }
    h2{
        font-size: 2.0em;
    }
}
@media (max-width: 500px) {
    #menu-wrapper {
        font-size: 1.0em;
    }
    h2 {
        font-size: 1.7em;
    }
}
@media (max-width: 420px) {
    #menu-wrapper {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}

#menu-wrapper a {
    text-decoration: none;
    color: white;
	font-weight: bold;

}

#logo a {
	height: 90px;
	width: 87px;
    display: inline-block;
    background-image: url(../pictures/company_logo.png);
    background-size:contain;
}

#logo span {
	visibility: hidden;
}

#logo {
	float: left;
}

.clear {
	clear: both;
}

.featureless {
	color: #9d9d9d;
	font-size: 0.8em;
}